#images img {
  padding: 0.5em;
  margin: 0.25em;
  border: 1px solid grey;
  border-radius: 8px;
  height: 150px;
  min-width: 20px;
  box-shadow: 0 0 4px #EEEEEE; }

#categories {
  position: fixed; }

.left-column {
  float: left;
  width: 65%; }

.right-column {
  top: 50px;
  bottom: 0;
  position: fixed;
  right: 0;
  padding: 0.5em;
  width: 35%;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .right-column #image-preview {
    max-width: 100%;
    max-height: 100%; }
  .right-column .load-icon {
    display: none; }
  .right-column.loading img {
    display: none; }
  .right-column.loading .load-icon {
    display: block; }
