#pages {
  width: 50px;
  float: left;
  top: 0;
  bottom: 0;
  position: fixed;
  box-shadow: 4px 0 8px #eee; }

#images {
  margin-left: 60px; }
  #images img {
    padding: 0.5em;
    margin: 0.25em;
    border: 1px solid grey;
    border-radius: 8px;
    height: 150px;
    min-width: 20px;
    box-shadow: 0 0 4px #EEEEEE; }

#categories {
  position: fixed; }

.left-column {
  float: left;
  width: 65%; }

.right-column {
  top: 60px;
  bottom: 0;
  position: fixed;
  right: 0;
  padding: 0.5em;
  width: 35%;
  text-align: center;
  box-shadow: -4px 0 8px #eee;
  background-color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .right-column .hover-area {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .right-column.hovered {
    background-color: #000000;
    width: 100%; }
  .right-column #image-preview {
    max-width: 100%;
    max-height: 100%; }
  .right-column .load-icon {
    display: none;
    color: #eee; }
  .right-column.loading img {
    display: none; }
  .right-column.loading .load-icon {
    display: block; }
