$pages-bar-width: 50px;

#pages {
  width: $pages-bar-width;
  float: left;
  top: 0;
  bottom: 0;
  position: fixed;
  box-shadow: 4px 0 8px #eee;
}

.template {
  display: none;
}

.section {
  hr {
    margin: 0 -0.5em;
    margin-bottom: 0.5em;
  }
  .page {
    h2 {
      font-weight: bold;
      text-shadow: 0 0 1px white;
      margin: 0
    }
    padding: 0.25em;
    text-align: center;
  }
  padding: 0.5em;
  margin: 1em 0.5em;
  background-color: white;
  border-radius: 16px;

  border: 1px solid #c0c0c0;
  box-shadow: 0 0 8px silver;

  overflow: hidden;
}

#images {

  margin-left: $pages-bar-width;
  .image {
    position: relative;
    display: block;
    float: left;
    margin: 0.25em;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid grey;
    z-index: 0;
    //    padding: 0.5em;
    .removeme {
      display: none;
    }
    &:hover {
      .saveme, .removeme {
        height: 25%;
      }
    }

    .saveme {
      height: 0;
      color: #000000;
    }
    .removeme {
      height: 25%;
    }

    .saveme, .removeme {
      font-size: 1.5em;

      .fa-pulse {
        font-size: 60px;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px;
      }
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        opacity: 0.85;
      }
      z-index: 1;
      background-color: white;
      opacity: 0.55;
      border-top: 1px solid grey;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }

    &.exists {

      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s;

      box-shadow: 0 0 0 2px yellowgreen;
      &:hover {
        box-shadow: 0 0 0 3px yellowgreen;
        z-index: 10;
      }
      opacity: 1;
      .saveme {
        display: none;
        background-color: yellowgreen;
        color: #ffffff;
      }
      .removeme {
        display: block;
        background-color: red;
        color: #ffffff;
      }
    }
    &.loading {
      .saveme, .removeme {
        height: auto;
        bottom: 0;
        top: 0;
        .fa-save, .fa-remove {
          display: none;
        }
        .fa-pulse {
          display: inline-block;
        }
      }
    }
  }

  img {
    height: 150px;
    min-width: 20px;
    box-shadow: 0 0 4px #EEEEEE;
    &:hover {
      box-shadow: 0 0 4px silver;
    }
  }
}

#load-progress {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

#categories {
  position: fixed;
}

.left-column {
  padding-top: 52px;
  float: left;
  width: 65%;
}

.right-column {
  top: 60px;
  bottom: 0;
  position: fixed;
  right: 0;
  padding: 0.5em;
  width: 34%;
  text-align: center;
  box-shadow: -4px 0 8px #eee;
  background-color: #FFF;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  .hover-area {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  &.hovered {
    //    background-color: #000000;
    width: 100%;
  }

  #image-preview {
    max-width: 100%;
    max-height: 100%;
  }
  .load-icon {
    $font-size: 80px;
    font-size: $font-size;
    display: none;
    color: #eee;
    top: 50%;
    left: 50%;
    margin-left: -$font-size / 2;
    margin-top: -$font-size / 2;
    position: absolute;
  }

  &.loading {
    //    width: 10%;
    .hover-area {
      display: none;
    }
    img {
      display: none;
    }
    .load-icon {
      display: block;
    }
    //    max-width: 0;
  }
}

//.lazy {
//    display: none;
//}