#pages {
  width: 50px;
  float: left;
  top: 0;
  bottom: 0;
  position: fixed;
  box-shadow: 4px 0 8px #eee;
  z-index: 1000; }

.template {
  display: none; }

.section {
  padding: 0.5em;
  margin: 1em 0.5em;
  background-color: white;
  border-radius: 16px;
  border: 1px solid #c0c0c0;
  box-shadow: 0 0 8px silver;
  overflow: hidden; }
  .section hr {
    margin: 0 -0.5em;
    margin-bottom: 0.5em; }
  .section .page {
    padding: 0.25em;
    text-align: center; }
    .section .page h2 {
      font-weight: bold;
      text-shadow: 0 0 1px white;
      margin: 0; }

#images {
  margin-left: 50px; }
  #images .image {
    position: relative;
    display: block;
    float: left;
    margin: 0.25em;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid grey;
    z-index: 0; }
    #images .image .removeme {
      display: none; }
    #images .image:hover .saveme, #images .image:hover .removeme {
      height: 25%; }
    #images .image .saveme {
      height: 0;
      color: #000000; }
    #images .image .removeme {
      height: 25%; }
    #images .image .saveme, #images .image .removeme {
      font-size: 1.5em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      z-index: 1;
      background-color: white;
      opacity: 0.55;
      border-top: 1px solid grey;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center; }
      #images .image .saveme .fa-pulse, #images .image .removeme .fa-pulse {
        font-size: 60px;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px; }
      #images .image .saveme:hover, #images .image .removeme:hover {
        opacity: 0.85; }
    #images .image.exists {
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s;
      box-shadow: 0 0 0 2px yellowgreen;
      opacity: 1; }
      #images .image.exists:hover {
        box-shadow: 0 0 0 3px yellowgreen;
        z-index: 10; }
      #images .image.exists .saveme {
        display: none;
        background-color: yellowgreen;
        color: #ffffff; }
      #images .image.exists .removeme {
        display: block;
        background-color: red;
        color: #ffffff; }
    #images .image.loading .saveme, #images .image.loading .removeme {
      height: auto;
      bottom: 0;
      top: 0; }
      #images .image.loading .saveme .fa-save, #images .image.loading .saveme .fa-remove, #images .image.loading .removeme .fa-save, #images .image.loading .removeme .fa-remove {
        display: none; }
      #images .image.loading .saveme .fa-pulse, #images .image.loading .removeme .fa-pulse {
        display: inline-block; }
  #images img {
    height: 150px;
    min-width: 20px;
    box-shadow: 0 0 4px #EEEEEE; }
    #images img:hover {
      box-shadow: 0 0 4px silver; }

#load-progress {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px; }

#categories {
  position: fixed; }

.left-column {
  padding-top: 52px;
  float: left;
  width: 65%; }

.right-column {
  top: 60px;
  bottom: 0;
  position: fixed;
  right: 0;
  padding: 0.5em;
  width: 34%;
  text-align: center;
  box-shadow: -4px 0 8px #eee;
  background-color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer; }
  .right-column .hover-area {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .right-column.hovered {
    width: 100%; }
  .right-column #image-preview {
    max-width: 100%;
    max-height: 100%; }
  .right-column .load-icon {
    font-size: 80px;
    display: none;
    color: #eee;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute; }
  .right-column.loading .hover-area {
    display: none; }
  .right-column.loading img {
    display: none; }
  .right-column.loading .load-icon {
    display: block; }

#pager {
  height: 100%;
  margin-left: 25px;
  margin-bottom: 70px; }

#page-info {
  position: absolute;
  z-index: 9999;
  background-color: #ffffff;
  padding: 0.25em;
  border: 1px solid silver;
  border-radius: 8px; }
