{% extends "index.html" %}
{%- import "macros.html" as macros %}
{%- block menu %}
    <div class="navbar-form">
        <select class="form-control" style="min-width: 200px" name="query" id="theplace_search_query">
        </select>
    </div>
{%- endblock %}

{%- block body %}

    <div class="row">
        <div class="left-column">
            <div id="pages">
                <div style="clear: both; height: 100%; padding-bottom: 15px; padding-top: 70px">
                    <div id="pager"></div>
                    <div id="page-info" style=""></div>
                </div>
            </div>
            <div id="images" data-bind="foreach: {data:pages, afterRender: initPage }">
                <section class="section">
                    <div class="page">
                        <h2>
                            <span data-bind="text: index"></span> /
                            <span data-bind="text: $root.pages().length"></span>
                        </h2>
                    </div>
                    <hr/>
                    <div class="clearfix"></div>
                    <div data-bind="foreach: { data: images, afterRender: setupImage }">
                        <a class="image" data-bind="attr: {href: src},  css: css">
                            <div class="saveme">
                                <i class="fa fa-save"></i>
                                <i class="fa fa-spinner fa-pulse"></i>
                            </div>
                            <div class="removeme">
                                <i class="fa fa-remove"></i>
                                <i class="fa fa-spinner fa-pulse"></i>
                            </div>
                            <img class="lazy" data-bind="attr: {'data-original': thumbnail}">
                        </a>
                    </div>
                </section>
            </div>
            <div id="load-progress">
                <i class="fa fa-spinner fa-pulse fa-5x"></i>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="right-column">
            <img id="image-preview"/>
            <i class="fa fa-spinner fa-pulse fa-5x load-icon"></i>
        </div>
    </div>

    {#    {% raw %}#}
    {#    <div id="template-image-item" class="template">#}
    {#        <a class="image {{ exists }}" href="{{ src }}">#}
    {#            <div class="saveme">#}
    {#                <i class="fa fa-save"></i>#}
    {#                <i class="fa fa-spinner fa-pulse"></i>#}
    {#            </div>#}
    {#            <div class="removeme">#}
    {#                <i class="fa fa-remove"></i>#}
    {#                <i class="fa fa-spinner fa-pulse"></i>#}
    {#            </div>#}
    {#            <img data-original="{{ thumbnail }}">#}
    {#        </a>#}
    {#    </div>#}
    {#    {% endraw %}#}

    <!-- SCRIPTS -->
    <script src="{{ url_for("static", filename="vendor/requirejs/require.js") }}"></script>
    <script>
        define("urls", function () {
            return {
                images          : "{{ url_for("images") }}",
                query_categories: "{{ url_for("query_categories") }}",
                download        : "{{ url_for("download") }}",
                remove          : "{{ url_for("remove") }}",
                image_url       : "{{ url_for("image_src") }}"
            }
        })
    </script>
    <script>
        require.config({
            baseUrl: '/static/js'
        });
        require(['main']);
    </script>
    <!-- end SCRIPTS -->
{%- endblock %}