{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block menu %}
{#    <div class="navbar-form pull-left">#}
{#        <select style="min-width: 200px" name="query" id="theplace_search_query" class="form-control">#}
{#        </select>#}
{#    </div>#}
{% endblock %}

{% block body %}
    <div class="" style="margin-top:80px;">
        <div class="col-md-3">
            <div id="update_sources" class="list-group">
                <a href="" class="list-group-item">
                    update all
                </a>
                {% for source in sources %}
                    <a href="?source={{source}}" class="list-group-item">
                        update: {{source}}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div id="info" class="center-block" style="display:none;width: 100%;text-align: center">
                <i class="fa fa-spinner fa-pulse fa-5x"></i>
                <h3><small>Loading:</small> <span id="status"></span></h3>
            </div>
        </div>
    </div>
    <script>
        $("#update_sources").find("a").click(function() {
            var eventSource = new EventSource(this.href);

            eventSource.onmessage = function(e) {
              if (e.data == "$done") {
                $("#info").hide();
                eventSource.close();
{#                window.location = "{{ url_for("index") }}"#}
              } else {
                $("#info").show();
                $("#status").html(e.data);
              }
            };

          return false;
        });
    </script>
{% endblock %}